<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <web4pro  translate="label">
            <label>Web4pro</label>
            <sort_order>2</sort_order>
        </web4pro>
    </tabs>
    <sections>
        <dcc>
            <label>DCC distribution</label>
            <tab>web4pro</tab>
            <sort_order>910</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <dccGroup>
                    <label>DCC distribution data input</label>
                    <expanded>0</expanded>
                    <sort_order>910</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <inputURL>
                            <label>Input XML-file path:</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </inputURL>
                        <inputUsername>
                            <label>Input username:</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </inputUsername>
                        <inputPassword>
                            <label>Input password:</label>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </inputPassword>
                    </fields>
                </dccGroup>
            </groups>
        </dcc>
    </sections>




</config>